<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/caiomyra/" target="_blank" class="icoInstagram" title="Instagram">
                            <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/caiomyrapereira" target="_blank" class="icoFacebook" title="GitHub">
                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/caio-myra-pereira-0625ba128/" target="_blank" class="icoLinkedin" title="Linkedin">
                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-info text-center py-3 ">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" target="_blank" href="https://brasil.generation.org">Caio Myra Pereira</a>
    </div>
</footer>