<div class="card  bg-light border-0 prefil p-4" style="width: 18rem">
    <div class=" mb-2">
        <img class="card-img-top rounded-circle" src="https://github.com/caiomyrapereira/caiomyrapereira.github.com/blob/master/fonte/img/caiomyra.jpg?raw=true" alt="Imagem de capa do card">
    </div>
    <div class="card-body ">
        <h5 class="card-title text-center text-monospace">Título do card</h5>
        <p class="card-text text-justify text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        <a href="#" class="btn btn-outline-info mb-3 d-flex justify-content-center">Linkedin</a>
        <a href="#" class="btn btn-outline-dark mb-3 d-flex justify-content-center">Github</a>
    </div>
</div>