<main class="container-fluid w-100 bg-dark  p-0 p-md-0 p-sm-0 p-xl-5 p-lg-5">
    <div class="w-100  m-0  pt-0 pb-0 mb-xl-5  mb-lg-5  mb-md-0 mb-sm-0">
        <div class="container-xl">
            <div class="row justify-content-between">

                <div class="col-xl-4 prefil col-lg-5 col-md-12 col-sm-12  pt-xl-0  pt-lg-0  pt-sm-5 pt-md-5  pt-md-5 pt-5
            d-flex  justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start">
                    <app-perfil></app-perfil>
                </div>

                <div class="col-xl-8  col-lg-7 col-md-12  col-sm-12 bg-info">
                    <h1 class="text-center  m-5 text-monospace font-weight-bolder text-white">Crie uma postagem qualquer</h1>


                    <div class="form-group">
                        <label class="text-monospace font-weight-bolder text-white" for="titulo">Título:</label>
                        <input type="text" class="form-control" id="titulo" placeholder="Digite aqui o seu titulo" [(ngModel)]="postagem.titulo">
                    </div>

                    <div class="form-group">
                        <label class="text-monospace font-weight-bolder text-white" for="texto">Texto:</label>
                        <textarea class="form-control" id="texto" rows="3" (keyup)="autoResize($event)" placeholder="Digite aqui o seu texto" [(ngModel)]="postagem.texto"></textarea>
                    </div>

                    <div class="row d-flex align-items-end">
                        <div class="col-md-6  mb-4 mb-md-0 mb-xl-0 mb-lg-0">
                            <div class="form-group m-0">
                                <label class="text-monospace font-weight-bolder text-white" for="tema">Escolha um tema ou <a class="text-white"  routerLink="/add-tema" >Cadastre um novo</a></label>
                                <select name="tema" id='tema' class="form-control" [(ngModel)]="idTema">
                                    <option  *ngFor="let item of temas"  value={{item.id}} >
                                        {{item.descricao}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 d-flex justify-content-end">
                            <button type="button" class="btn  btn-light  w-25" (click)="addPostagem()">Publicar</button>
                        </div>
                    </div>

                    <nav class="d-flex justify-content-center mt-5">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#minhas-postagens" role="tab" aria-controls="nav-home" aria-selected="true">Minhas Postagens</a>
                            <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab" href="#postagens-temas" role="tab" aria-controls="nav-profile" aria-selected="false"> Postagens por tema</a>
                        </div>
                    </nav>

                    <div class="tab-content mb-5" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="minhas-postagens" role="tabpanel" aria-labelledby="nav-postagens-tab">
                            <div class="row  mt-3 mb-3  ml-0  mr-0">
                                <div class=" col-12 col-md-10 p-0 m-0">
                                    <input class="form-control w-100" type="search" placeholder="Pesquisar postagem" aria-label="Pesquisar">
                                </div>
                                <div class=" col-12 col-md-2 p-0 m-0">
                                    <button class="btn btn-outline-light w-100" type="button">Pesquisar</button>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="postagens-temas" role="tabpanel" aria-labelledby="nav-presenca-tab">
                            <div class="row mt-3 mb-3">
                                <div class="col-md-10 pr-0">
                                    <input class="form-control w-100" type="search" placeholder="Pesquisar Tema" aria-label="Pesquisar">
                                </div>
                                <div class="col-md-2 pl-0">
                                    <button class="btn  btn-outline-light w-100" type="button">Pesquisar</button>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 container-fluid mb-1" *ngFor="let post of postagens | orderBy: key : reverse">
                                <div class="card mb-5">
                                    <div class="card-header text-center">
                                        <h1 class="card-title">{{post.titulo}}</h1>
                                        <h5>Tema: {{post.tema.descricao}}</h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"> Conteúdo:{{post.texto}} </p>
                                        <small>
                                      Postado em {{post.date | date:'dd/MM/yyyy'}}
                                       ás
                                      {{post.date | date:'HH:mm'}}
                                    </small>
                                        <a href="#" class="btn btn-primary mr-3">Editar</a>
                                        <a href="#" class="btn btn-primary">Incluir</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>