<main class="container-fluid p-0 m-0 w-100">

    <div class="container-fluid pt-5 pb-5 homeBannerColor">
        <div class="container-xl ">
            <div class="row">
                <div class="col-12 col-lg-6	col-xl-6 d-flex  align-content-center flex-wrap pb-5">
                    <div class="w-100 text-center">
                        <p class="font-weight-bold text-justify color text-white">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolore distinctio non illum in modi. Reprehenderit excepturi esse eum autem, cumque eveniet distinctio dolores. Nihil explicabo autem maxime perspiciatis inventore. Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Ullam commodi ab natus consequat
                        </p>
                    </div>
                    <div>
                        <button type="button" class=" mr-5 btn btn-secondary">Cadastre</button>
                        <button type="button" class="btn btn-secondary">Crie uma postagem</button>
                    </div>
                </div>
                <div class="col-12 col-lg-6	col-xl-6">
                    <img src="../../assets/network.png" class="homeBanner" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Sejam bem vindes ao meu blog!</h1>
            <p class="lead text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolore distinctio non illum in modi. Reprehenderit excepturi esse eum autem, cumque eveniet distinctio dolores. Nihil explicabo autem maxime perspiciatis inventore. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Ullam commodi ab natus consequatur veniam, rerum optio labore quisquam vitae? Ipsa fugit facere corporis placeat accusantium impedit vitae, aperiam ad nesciunt. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ratione quidem, tempora, iure impedit veniam incidunt odio explicabo iusto culpa at laboriosam nesciunt minima cumque adipisci nobis obcaecati totam. Eveniet, sequi.
            </p>
        </div>
    </div>




    <div class="w-100 mt-5 mb-5 ">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-monospace text-center"> Postagens </h1>
                </div>
                <div class="col-12 postagens mt-5 mb-5">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Título especial</h5>
                                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                                    <a href="#" class="btn btn-primary">Visitar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card  m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Título especial</h5>
                                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                                    <a href="#" class="btn btn-primary">Visitar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card  m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Título especial</h5>
                                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                                    <a href="#" class="btn btn-primary">Visitar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card  m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Título especial</h5>
                                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                                    <a href="#" class="btn btn-primary">Visitar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card  m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Título especial</h5>
                                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                                    <a href="#" class="btn btn-primary">Visitar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card  m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Título especial</h5>
                                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                                    <a href="#" class="btn btn-primary">Visitar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</main>